.device-title{
    margin-top: 150px;
    max-width: 1597px;
    /* max-height: 125px; */
    gap: 14px;
    display: flex;
    flex-direction: column;
    padding: 0px 300px 0px 0px;
}
.device-title h1{
    max-width: 1297px;
        font-weight: 700px;
        font-size: 38px;
        line-height: 57px;
        color:rgba(255, 255, 255, 1) ;
}
.device-title p{
    max-height: 1297px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(153, 153, 153, 1);
}
.device-cards{
    max-width: 1,597px;
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}
.device-card{
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 1);
    border: solid 1px rgba(38, 38, 38, 1);
    border-radius: 12px;
    max-width: 512.33px;
    margin-bottom: 30px;
}
.device-card-title{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    max-width: 412.33px;
}
.device-card-title h1{
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-left: 16px;
}
.device-card-p p{
    max-width: 412.33px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(153, 153, 153, 1);
    margin-top: 30px;
}