
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');



nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0F0F0F;
    border-radius:12px;
    border: 4px solid #1F1F1F;
    color: aliceblue;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
header{
    background-image: url('/assets/niloofar/Sub\ Container.png');
    background-size: cover;
    height: 1092px;
}
.icon{
    gap:30px;
    display: flex;
    max-width: 25px;
    max-height: 25px;
    margin-top: 10px;

}
nav ul{
    display:flex ;
    align-items: center;
    gap: 30px;
    background-color: #0F0F0F;
}
nav ul li{
    list-style: none;
   
}
nav ul li:hover{
    background-color:#1A1A1A;
    border-radius: 5px;
    padding: 10px;
    
}
nav ul li a{
    display: block;
    text-decoration:none;
    color:white;
    padding:0 0.5rem;
    border-radius: 0.5rem;
}
.header2{
    display: flex;
    gap:30px;
    align-items: center;
    /* margin-top: px; */
}
p{
    color: aliceblue;
}
.center-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.main-text{
    font-weight: bold;
    font-size: 58px;
}
.caption{
    color: gray;
    text-align: center;
    margin-top: 10px;
    width: 50%;
}
.header-title{
    margin-top: 1000px; 
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    gap: 4px;
}
.play-btn{
    background: none;
}
footer{
    background: #0F0F0F;
 width: 100%;
 height: 505px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;

}
.footer{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    align-items: center;
}
.sections{
    
    display: flex;
    justify-content: left;
    flex-direction: column;
    
}
span{
    color: gray;
}
p{
    color: white;
    font-family: "Manrope", sans-serif;
font-size: 20px;
font-weight: 600;
line-height: 30px;
text-align: left;

}
.divider{
    border-top: 4px gray solid;
    height: 51px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:160px;
    
}
.social{
    display: flex;
    flex-direction: row;
}

    .texts{
        gap: 5px;
        display: flex;
    }
